$font-body: 'Merriweather', serif;
$font-sans-serif: 'Raleway', sans-serif;
$dark-cobalt: rgba(40, 44, 52, 1);
$dark-grey: #2d2d2d;
$dark-metal: rgba(58, 63, 75, 1);
$light-grey: rgb(88, 96, 114);
@import "vendor/bootstrap";
@import "sections/tables";
@import "sections/typography";
@import "sections/header";
@import "sections/icon";
@import "sections/overlay";
@import "sections/intro";
@import "sections/filter-inputs";
@import "sections/right-pane";
@import "sections/demo-images";
@import "sections/presets";
@import "sections/range";
@import "sections/can-i-use";
@import "sections/faq";
@import "sections/planned-updates";
@import "sections/fallbacks-ie-hacks";
@import "vendor/spectrum/color";
@import "vendor/cssgram/cssgram.min";
.inferface {
	background: $dark-cobalt;
	padding-bottom: 2em;
}
body {
	background: $dark-grey;
	background: rgba(33, 37, 43, 1);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: white;
}
img {
	max-width: 100%;
}
