$font-body: 'Merriweather', serif;
$font-sans-serif: 'Merriweather', serif;
@import "vendor/bootstrap";
@import "sections/tables";
@import "sections/typography";
@import "sections/header";
@import "sections/overlay";
@import "sections/filter-inputs";
@import "sections/right-pane";
@import "sections/demo-images";
@import "sections/presets";

@import "sections/fallbacks-ie-hacks";
@import "vendor/spectrum/color";
@import "vendor/cssgram/cssgram.min";
body {
	background: #e1e1e1;
	.container {
		background: white;
	}
}
.intro {
	margin-top: 40px;
	margin-bottom: 40px;
}
img {
	max-width: 100%;
}
#cp_embed_QEAWZP {
	margin-top: 1em;
}
