$font-body: 'Merriweather', serif;
$font-sans-serif: 'Merriweather', serif;
@import "vendor/bootstrap";
@import "sections/tables";
@import "sections/typography";

ul {
	margin: 0;
	padding: 0;
	list-style: none;
	li {
		padding-bottom: 0.5em;
		padding-top: 0.5em;
	}
}
label {
	display: inline-block;
	min-width: 120px;
	cursor: pointer;
	&.disabled {
		color: #999;
	}
}
input[type=number] {
	width: 45px;
}
input[type=range] {
	width: 85%;
}
#cp_embed_QEAWZP {
	margin-top: 1em;
}


img#demoimage {
	max-width: 100%;
	width: 100%;
	transition: filter 0.5s ease;

	@media (min-width: 600px) {
		float: left;
	}
}
#filter {
	background-color: #eee;
	border: 1px solid #aaa;
	height: 200px;
	text-indent: 20px;
	max-width: 100%;
	padding: 10px;
	width: 100%;
	box-sizing: border-box;
	margin-bottom: 1em;
	@media (min-width: 600px) {
		float: left;
	}
	font-family: Consolas, 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monaco, monospace;
	font-size: 13px;
}
#imageURL {
	max-width: 100%;
	width: 290px;
}
img {
	max-width: 100%;
}
#preview-images {
	margin-bottom: 2em;
	@media(min-width: $screen-sm-min) {
		margin-bottom: inherit;
	}
}
img[data-fullsize] {
	border: 1px solid #aaa;
}
