.nu80s, .purple-rain,  .red-sky,  .sunset, .solar, .seafoam {
   position:relative;
   display: inline-block;
}
.nu80s {
  img {
    filter: contrast(1.1) brightness(1.12) ;
    -webkit-filter: contrast(1.1) brightness(1.12) !important;
}
  &:after{
    position: absolute; content: ''; display: block; top: 0; left: 0; height: 100%; width: 100%;
    background: linear-gradient(to bottom,rgb(255, 0, 134) 0%, rgb(0, 117, 255) 100%);
    mix-blend-mode: overlay
  }
}
.mars-sky {
  img {
    filter: brightness(1.16) grayscale(0.75) hue-rotate(146deg);
     -webkit-filter: hue-rotate(146deg) grayscale(0.75) brightness(1.59) ;
  }
}

.solar {
  img {
   filter: hue-rotate(-172deg) invert(1) ;
 }
  &:after{
    position: absolute; content: ''; display: block; top: 0; left: 0; height: 100%; width: 100%;
    background: linear-gradient(to bottom,rgba(20, 0, 255, 0.65) 0%, rgba(0, 188, 255, 0.4) 100%);
    mix-blend-mode: exclusion
  }
}

.sunset {
  img {
    filter: grayscale(1) contrast(2.72) brightness(2.32) ;
     -webkit-filter: grayscale(1) contrast(2.72) brightness(2.32) ;
  }
  &:after{
    position: absolute; content: ''; display: block; top: 0; left: 0; height: 100%; width: 100%;
    background: linear-gradient(45deg,rgb(255, 0, 0) 0%, rgb(253, 255, 0) 100%);
    mix-blend-mode: multiply
  }
}





.seafoam {
  img {
    filter: contrast(0.51) ;
    }
    &:after{
      position: absolute; content: ''; display: block; top: 0; left: 0; height: 100%; width: 100%;
      background: linear-gradient(315deg,rgb(0, 255, 84) 0%, rgb(0, 61, 255) 100%);
      mix-blend-mode: color
    }
}
