.bad-slide {
  position: relative;
   filter: hue-rotate(-107deg) contrast(1.39) brightness(1.46) grayscale(0.62);
   :after{
    position: absolute; content: ''; display: block; top: 0; left: 0; height: 100%; width: 100%;
    background: radial-gradient(ellipse at center,rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.77) 100%);
    mix-blend-mode: multiply
  }
}


.eights-tech {
  position: relative;
  img {
     filter: sepia(0.58) grayscale(0.69) ;
  }
  &:after {
      position: absolute; content: ''; display: block; top: 0; left: 0; height: 100%; width: 100%;
      background: linear-gradient(45deg,rgba(255, 0, 0, 0.4) 0%, rgba(15, 0, 255, 0.4) 100%);
      mix-blend-mode: screen
  }
}


.hip-hop {
  position: relative;
  img {
    filter: brightness(2.32) contrast(1.96) grayscale(1) ;
  }
  &:after{
    position: absolute; content: ''; display: block; top: 0; left: 0; height: 100%; width: 100%;
    background: linear-gradient(45deg,rgba(255, 0, 0, 0.82) 0%, rgb(255, 238, 0) 100%);
    mix-blend-mode: multiply;
  }
}

.filtered-lens {
  position: relative;
  img {
    filter: brightness(1.22);
  }
  &:after{
    position: absolute; content: ''; display: block; top: 0; left: 0; height: 100%; width: 100%;
    background: linear-gradient(to top,rgba(122, 92, 0, 0.95) 0%, rgb(0, 198, 255) 100%);
    mix-blend-mode: color
  }
}
