.error {
	text-align: center;
	font-size: 30px;
	padding: 10px;
	background-color: #888;
	padding: 20px;
	a {
		color: red;
	}
}
#error {
	display: none;

	.no-js & {
		display: block;
	}
}
#ie-warning {
	display: none;
	.ie & {
		display: inline-block;
	}
}
#edge-warning {
	display: none;
	.edge & {
		display: inline-block;
	}
}
#safari-warning {
		display: none;
		.safari & {
			display: inline-block;
		}
}
#error-es6 {
	display: none;
	.no-es6 & {
		display: block;
	}
}
