ul {
	margin: 0;
	padding: 0;
	list-style: none;
	li {
		padding-bottom: 0.5em;
		padding-top: 0.5em;
	}
}
label {
	display: inline-block;
	min-width: 120px;
	cursor: pointer;
	font-family: $font-sans-serif;
	font-weight: 400;
	&.disabled {
		color: #999;
	}
}
.ui-sortable {
	label {
		cursor: row-resize;
		cursor: grab;
		cursor: -webkit-grab;
	}
}
.sortable {
	display: inline-block;
	cursor: pointer;
}
input[type=number] {
	width: 45px;
	background-color: $dark-metal;
	border: 2px solid  rgb(70, 76, 90);
	font-family:  $font-sans-serif;
	font-weight: 500;
}
input[type=range] {
	width: 85%;
}
input[type=text] {
	color: white;
	background-color: $dark-metal;
	border: 2px solid  rgb(70, 76, 90);
	font-family:  $font-sans-serif;
	font-weight: 500;
}
//url
#imageURL {
	max-width: 100%;
	width: 290px;
	@media (min-width: $screen-sm-min) {
		width: 365px;
	}
}
//select
#blending-mode {
	display: none;
}
