ul {
	margin: 0;
	padding: 0;
	list-style: none;
	li {
		padding-bottom: 0.5em;
		padding-top: 0.5em;
		position: relative;
	}
}

label.generic {
	display: inline-block;
	//min-width: 85px;
	cursor: ns-resize;
	cursor: -webkit-ns-resize;
	font-family: $font-sans-serif;
	font-weight: 400;
	margin-left: 10px;
	    font-size: 15px;
	&.disabled {
		color: #999;
	}
}

.ui-sortable {
	label {
		cursor: row-resize;
		cursor: grab;
		cursor: -webkit-grab;
	}
}
.sortable {
	display: inline-block;
	cursor: pointer;

}
#sortable {
  margin-bottom: 25px;
  @media (min-width: $screen-sm-min) {
    margin-bottom: 0;
  }
}

input[type=number] {
	width: 45px;
	background-color: $dark-metal;
	border: 2px solid  rgb(70, 76, 90);
	font-family:  $font-sans-serif;
	font-weight: 500;
}
input[type=range] {
	width: 100%;
	padding-right: 15px;
	background: 0;
}
input[type=text] {
	color: white;
	background-color: $dark-metal;
	border: 2px solid  rgb(70, 76, 90);
	font-family:  $font-sans-serif;
	font-weight: 500;
}
select {
	 -webkit-appearance: none;
	font-family:  $font-sans-serif;
	background-color: $dark-metal;
	border: 2px solid  rgb(70, 76, 90);
	border-radius: 0px;
	height: 31px;
	padding-left: 10px;
	padding-right: 30px;
	background: url("../img/down.svg");
	background-size: 10px;
	background-position: 95% center ;
	background-repeat: no-repeat;
}
//url
#imageURL {
	max-width: 100%;
	width: 290px;
	@media (min-width: $screen-sm-min) {
		width: 365px;
	}
	.urlERR & {
		border: 1px solid red;
		&:focus {
    outline: none !important;
    border-color: red;
    box-shadow: 0 0 10px #719ECE;
		}
	}
}
//select
.selects {
	display:inline-block
}
#blending-mode, #orientation {
	display: none;
	margin-top: 0.5em;
	min-width: 130px;
	margin-bottom: 0.5em;
	margin-left: 12px;
}
#sortable {
	.row {
		margin-bottom: 10px;
		margin-top: 3px;
	}
}
.updown {
	margin-bottom: -.5em;
	//position: absolute;
	padding: 5px;
	cursor: row-resize;
	cursor: grab;
	cursor: -webkit-grab;
	display: inline-block;
	min-width: 154px;
	.arrow {
		position: relative;
		top: 5px;
		font-size: 2em;
		display: inline-block;
	}
}
