#fullscreenOverlay {
  z-index: 1000;
  background-color: rgba(0,0,0, 0.1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.4s;
  opacity: 0;

  .container {
    max-width: 960px;
    position: relative;
    transform: perspective(600px) rotateX(10deg);
    transition: transform 0.4s;
  }
  #fullscreenOverlayClose {
    background-color: $light-grey;
    border: 1px solid $dark-metal;
    padding: 10px;
    min-width: 120px;
    position: absolute;
    right: 20px;
    top: 20px;
  }
  .fullScreenOverlay & {
    max-height: 100%;
    background-color: rgba(0,0,0, 0.7);
    opacity: 1;
    overflow: scroll;
    .container {
      transform: perspective(600px) rotateX(0deg);
    }
  }
}
.fullScreenOverlay {
  overflow: hidden;
  max-height: 100vh;
  .fullcontent {
    filter: blur(4px) ;
  }
}
