.stripe {
  width: 100%;
  height: 10px;
  background: $primary4; /* Old browsers
  background: -moz-linear-gradient(left, #084c8d 0%, #a7d2f2 100%);
  background: -webkit-linear-gradient(left, #084c8d 0%,#a7d2f2 100%);
  background: linear-gradient(to right, #084c8d 0%,#a7d2f2 100%);
  */
}
header {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  h1 {
    color: white;
    margin-top: 10px;
    margin-bottom: 0px;
    //line-height: 1em;
  }
  small {
    color: white;
    display: block;
    margin-bottom: 10px;
  }
}
body header .container {
  color: white;
  text-align: center;
  margin-top: 10px;

  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  h1 {
    color: white;
    margin-top: 1em;
    font-size: 2em;
    margin-bottom: 0;
    display: block;
    line-height: 1em;
    font-weight: 300;
  }
  small {
    margin-bottom: 2.5em;
    display: inline-block;
    font-family: 'Raleway', sans-serif;
      font-weight: 300;
  }
}
