.interface {
  padding-top: 2em;
  background: $dark-cobalt;
  padding-bottom: 2em;
  h3 {
    //  margin-top: 0;
  }
}
.table {
  display: table;
  margin: 0;
}
.table-cell {
  display: table-cell;
}
.table-cell.num {
  width: 50px;
}
