.presets {
  //margin-bottom: 2em;
  small {
    display: inline-block;;
    margin-bottom: 2em;
  }
  p {
    margin: 0;
  }
  .col-xs-3 {
    @media (max-width: 600px){
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}
