input[type=range] {
  -webkit-appearance: none;
  //width: 100%;
  margin: 5.8px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
  background: #586072;
  border-radius: 0.2px;
  border: 2px solid #464c5a;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 3.4px solid #969696;
  height: 20px;
  width: 20px;
  border-radius: 20px;
  background: #373737;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7.8px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #636c80;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
  background: #586072;
  border-radius: 0.2px;
  border: 2px solid #464c5a;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 3.4px solid #969696;
  height: 20px;
  width: 20px;
  border-radius: 20px;
  background: #373737;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #4d5464;
  border: 2px solid #464c5a;
  border-radius: 0.4px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
}
input[type=range]::-ms-fill-upper {
  background: #586072;
  border: 2px solid #464c5a;
  border-radius: 0.4px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 3.4px solid #969696;
  height: 20px;
  width: 20px;
  border-radius: 20px;
  background: #373737;
  cursor: pointer;
  height: 8.4px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #586072;
}
input[type=range]:focus::-ms-fill-upper {
  background: #636c80;
}
