img#demoimage {
	max-width: 100%;
	width: 100%;
}
#filter-wrapper, #demoimage {
	transition: all 0.6s ease;
	&:after {
		transition: all 0.6s ease;
		content: '';
	  display: block;
	  height: 100%;
	  width: 100%;
	  top: 0;
	  left: 0;
	  position: absolute;
	  pointer-events: none;
	}
}
#filter {
	font-family: Consolas, 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monaco, monospace;
	font-size: 13px;
	//background-color: #eee;
	border: 1px solid $dark-cobalt;
	background-color: $dark-metal;
	background-color: rgba(40, 44, 52, 0.63);
	color: white;
	min-height: 520px;
	text-indent: 20px;
	max-width: 100%;
	padding: 10px;
	width: 100%;
	box-sizing: border-box;
	margin-bottom: 1em;
	position: absolute;
	top: 0;
	z-index: -1;
	transition: all 0.6s ease;
	//-webkit-transition-delay: 0.01s; /* Safari */
  //transition-delay: 0.01s;
	transform: rotateY(-180deg);
	@media (min-width: $screen-md-min){
		padding: 20px;
	}
	h5, p {
		margin: 0;
	}
	h5 {
		margin-bottom: 5px;
		font-weight: 400;
		font-size: 16px;
	}
}
#reset {
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 1000;
	background-color: $dark-grey;
	border: 1px solid $dark-metal;
	transition: all 0.6s ease;
}
.preview {
	min-height: 588px;

}
.filter-parent {
	transition: all 0.6s ease;
	transform: perspective( 1000px ) rotateY(0deg);
	&.flip {
		//transform: rotateY(180deg);
		transform: perspective( 1000px ) rotateY( 180deg );
		&:after {
			content: " ";
			height: 100%;
			width: 100%;
			position: absolute;
			background-color: rgba(0, 0, 0, 0.7);
			top: 0;
		}
		#filter {
			opacity: 1;
			z-index: 1;
		}
		#reset {
			opacity: 0;
		}
	}
	#filter {
		opacity: 0;
	}
}
.css-tab {
	font-family: $font-sans-serif;
	display: inline-block;
	padding: 4px;
	background-color: $light-grey;
	border: 1px solid #3a3f4b;
	color: white;
	&:hover, &:active, &:focus {
		color: white;
		text-decoration: underline;
	}
}
