
table {
	font-size: 12px;
	@media (max-width: 600px) {
		font-size: 9px;

	}
	@media (min-width: $screen-sm-min) {
		font-size: 1em;
	}
}
@media (max-width: 600px) {
	td {
		padding: 3px !important;
	}
}

.more-info {
	display: none;
}
.supported {

    background: rgb(166, 237, 178);
}
.nosupport {
	background: rgba(196, 66, 47, 0.6);
}
.partial-support {
	background: rgba(168, 189, 4, 0.6);
}
