.what-browsers-support-css-filters {
	td {
		border-top: 0 !important;
	}
}
table {
	font-size: 12px;
	@media (max-width: 600px) {
		font-size: 9px;
	}
	@media (max-width: 450px) {
		font-size: 7.5px;
	}
	@media (min-width: $screen-sm-min) {
		font-size: 1em;
	}
}
@media (max-width: 600px) {
	td {
		padding: 3px !important;
	}
}

.more-info {
	display: none;
}
.supported {
  background: rgba(166, 237, 178, 0.5);
}
.nosupport {
	background: rgba(196, 66, 47, 0.6);
}
.partial-support {
	background: rgba(168, 189, 4, 0.5);
}
span.partial-support, span.nosupport, span.supported {
	padding: 3px;
	margin-bottom: 1.5em;
    display: inline-block;
	@media(min-width: $screen-sm-min) {
		padding: 3px;
	}
}
