//typography
h1 {
	font-size: 26px;
	@media (min-width: $screen-sm-min){
		font-size: 40px;
	}
}
h1,h2,h3,h4,h5,h6 {
	font-family: 'Raleway', sans-serif;
}
h1,h2,h3 {
	font-weight: 200;
}
h4, h5 {
	font-weight: 300;
}
small {
	font-size: 75%;
}
strong {
	font-weight: 700;
}
